<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "ExSky", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <%= render_existing view_module(@conn), "scripts.html", assigns %>
  </head>
  <body>
    <ul class="flex text-2xl p-10">
      <li class="mr-6">
        <%= link(gettext("Raport"), to: Routes.raport_path(@conn, :new), class: "text-blue-500 hover:text-blue-800") %>
      </li>
      <li class="mr-6">
        <%= link(gettext("Listy Przewozowe"), to: Routes.product_index_path(@conn, :new), class: "text-blue-500 hover:text-blue-800") %>
      </li>
      <li class="mr-6">
        <%= link(gettext("Kraje"), to: Routes.country_index_path(@conn, :index), class: "text-blue-500 hover:text-blue-800") %>
      </li>
    </ul>
    <%= @inner_content %>
  </body>
</html>
